<app-header></app-header>

<div class="grid grid-cols-10">
    <div class="col-span-3 grid-rows-10 m-10 ml-20">
        <div class="row-span-5 flex items-center justify-center p-4 rounded-full h-3/4 overflow-hidden">
            <img src="profile_photo.png" class="transform -translate-x-10 transition-opacity duration-500 scale-140 object-cover" alt="no picture"> 
        </div>
    </div>    

    <div class="col-span-7 grid-rows-10 p-4 m-15 rounded-2xl h-vh">
        <div class="p-4 text-8xl flex items-center transition-all ">
            Welcome to Island <p class="pl-4 text-zinc-500 inline animate-typing"> Arbaz,</p>
          </div>
        <p class="p-8 m-10 mr-30 text-3xl">where the waves of my professional and personal journey meet the vast ocean of the web. 
            Dive in and explore the fun and dynamic world I’ve crafted! </p>
        <div class="flex m-10 justify-items-center">
            <div class="flex mr-20 cursor-pointer" onclick="window.location.href='https://www.linkedin.com/in/abdul-arbaz-kareem/'">
                <img class="m-6 shadow-md" src="https://img.icons8.com/?size=100&id=xuvGCOXi8Wyg&format=png&color=000000"> 
                <a class="text-3xl font-bold place-content-center" href="https://www.linkedin.com/in/abdul-arbaz-kareem/">Linkedin</a>
        </div>
        <div class="flex mr-20 cursor-pointer" onclick="window.location.href='mailto:abdularbaz708@gmail.com'">
            <img class="m-6 shadow-md" src="https://img.icons8.com/?size=100&id=P7UIlhbpWzZm&format=png&color=000000"> 
            <a class="text-3xl font-bold place-content-center" href="mailto:abdularbaz708@gmail.com">Gmail</a>
    </div>    
        <div class="flex mr-20 cursor-pointer" onclick="window.location.href='https://github.com/Abdul-123-bot'">
            <img class="m-6 shadow-md" src="https://img.icons8.com/?size=100&id=106567&format=png&color=000000"> 
            <a class="text-3xl font-bold place-content-center" href="https://github.com/Abdul-123-bot">GitHub</a>
        </div>
    </div>
    </div>
 </div>

<app-footer></app-footer>
