
<div>
    <nav class="block mx-auto my-10 px-8 py-4 flex bg-sky-100 rounded-4xl text-xl w-[90%] max-w-6xl justify-around shadow-2xl">
    <a href="/" class=" hover:bg-sky-200 hover:text-2xl  px-4 py-2 rounded-2xl transition-all cursor-pointer">HOME</a>
    <a href="/project" class=" hover:bg-sky-200 hover:text-2xl  px-4 py-2 rounded-2xl transition-all cursor-pointer">PROJECTS</a>
    <a href="/education" class="hover:bg-sky-200 hover:text-2xl  px-4 py-2 rounded-2xl transition-all cursor-pointer">EDUCATION</a>
    <a href="/research" class="hover:bg-sky-200 hover:text-2xl  px-4 py-2 rounded-2xl transition-all cursor-pointer">RESEARCH</a>
    <a href="/contact" class=" hover:bg-sky-200 hover:text-2xl  px-4 py-2 rounded-2xl transition-all cursor-pointer">CONTACT</a>
</nav>
</div>